<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/nav.ejs') %>
            <section class="section">
                <div class="container">
                    <h1 class="title">Uh oh, 404 Page not found!</h1>
                </div>
            </section>

            <%- include('includes/end.ejs') %>