<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>

    <link rel="stylesheet" href="/css/bulma.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">Shop</a>
                <a href="/admin/add-product" class="navbar-item">Add Product</a>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <h1 class="title">My Products</h1>
            <div class="tile is-ancestor is-flex-wrap-wrap">
                <div class="tile is-parent is-4">
                    <div class="tile is-child card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="title is-4">Item name</div>
                            <div class="content">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime velit eos assumenda
                                dolorum
                                consectetur itaque sunt reiciendis dignissimos facilis fugiat.
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-footer-item">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent is-4">
                    <div class="tile is-child card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="title is-4">Item name</div>
                            <div class="content">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime velit eos assumenda
                                dolorum
                                consectetur itaque sunt reiciendis dignissimos facilis fugiat.
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-footer-item">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent is-4">
                    <div class="tile is-child card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="title is-4">Item name</div>
                            <div class="content">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime velit eos assumenda
                                dolorum
                                consectetur itaque sunt reiciendis dignissimos facilis fugiat.
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-footer-item">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent is-4">
                    <div class="tile is-child card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="title is-4">Item name</div>
                            <div class="content">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime velit eos assumenda
                                dolorum
                                consectetur itaque sunt reiciendis dignissimos facilis fugiat.
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-footer-item">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>